/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #24292e;
  margin: 0;
  padding: 0;
  color:  #ACBAC7;
  padding: 20px;
  padding-top: 100px;
}


/* Column Styles */
.column {
  float: left;
  padding: 10px;
  height: 100%; /* Should be removed. Only for demonstration */
  border-style: solid;
  border-width: 0.8px;
  border-color:#444C56;
  ;
}

.left, .right {
  width: 25%;
  background-color: #2D333B;
}

.middle {
  width: 50%;
  margin: 0 auto; /* Center the column */
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #2D333B;
}

/* Mobile navigation styles */
.toggle-button {
  font-size: 24px;
  cursor: pointer;
}
 /* new thisis what we need to add to the computer screen TODO*/
 .hamburger-nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #24292e;
  border-radius: 0 0 5px 5px;
  padding: 10px 0;
}


.hamburger-nav.active {
  transform: translateX(250px);
  height: 100%;
  background: #333;
  position: fixed;
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px;
  transition: transform 0.3s ease-out;
  display: block;

}

.hamburger-nav a {
  color: white;
  display: none;
  padding: 10px 15px;
  text-decoration: none;
}

.container {
  flex-direction: column;
}

/* Header Styles */
header {
  background-color: #24292e; /* GitHub dark header color */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* To ensure it stays on top */
  /* Other styling */


}


.logo {
  font-size: 1.5em; /* Adjust size as needed */
  font-weight: bold;
}

.logo, .user-profile, .search-container {
  display: flex;
  align-items: center;
}

.notification-button, .toggle-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2em;
  margin-right: 15px;
}

/* Search Styles */
.search-container {
  position: relative;
  flex-grow: 1;
  margin: 0 15px;
  border-radius: 0 0 5px 5px;
  padding: 10px 0;
  border-color: #2D333B;
}

#search-box {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  color: #333;
  display: none;
  border-radius: 0 0 5px 5px;

  z-index: 1000;
}

.search-results.active {
  display: block;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
}

/* Dim background when search is active */
.dim-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
  display: none;
}

.dim-background.active {
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  body {
    background-color: #24292e;
  }
  .row {
    display: flex;
    flex-direction: column;
  }

  .column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    border-style: solid;
    border-width: 0.8px;
    border-color:#444C56;
  }

  .left, .right {
    width: 100%;
    background-color: #2D333B;
  }

  .middle {
    width: 100%;
    order: 1;
    background-color: #2D333B;
  }

  .left {
    order: 2;
  }

  .right {
    order: 3;
  }

  .toggle-button {
    display: block;
  }
  /* new thisis what we need to add to the computer screen TODO*/
  .hamburger-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #24292e;
    border-radius: 0 0 5px 5px;
    padding: 10px 0;
  }

  .hamburger-nav.active {
    transform: translateX(250px);
  }
  .hamburger-nav a {
    color: white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
  .container {
    flex-direction: column;
  }

  .sidebar, .main-content, .right-panel {
    order: unset;
    flex: none;
    width: 100%;
  }

  .search-container {
    flex: 1;
  }

  #search-box {
    width: calc(100% - 40px); /* Adjust width to make room for search icon */
  }
  #toggle-button {
    display: block;
  }
}

/* middle container */
.question-block {
  background-color:  #363E47;
  border: 1px solid  #444C56;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-container h3 {  /* header next to filter */
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.header-container button { /* filter button */
  background-color: #eff3f6;
  border: 1px solid rgba(27,31,35,.15);
  border-radius: 6px;
  padding: 5px 16px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.header-container button i {/* filter icon */
  margin-right: 4px;
}

.question-header {/* username and subreddit */
  display: flex;
  align-items: top;
  margin-bottom: 8px;
}
.user-avatar { 
  border-radius: 50%;
  margin-right: 8px;
  height: 40px;
}

.question-user-details {
  font-size: 10px;

}
.question-user-details .user-name , .user-community{
  color: #0366d6;
  text-decoration: none;
  font-weight: 600;
  display: block;
}

.question-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.tags {
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  margin-bottom: 10px;
}

.question-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* Move the tags to the right */
  margin-top: 0px;
}

.question-tag {
  font-size: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #0073e6;
}



.question-tag:hover {
  text-decoration: underline; /* Add underline on hover */
}

.question-meta {
  font-size: 8px;
  color: #ACBAC7;
  margin-bottom: 10px; /* Add spacing below the meta info */
  margin-left: auto; /* Move the meta info to the right */
}
.question-snippet {
  font-size: 14px;
  margin-bottom: 8px;
}


.read-more {
  color: #0366d6;
  text-decoration: none;
  font-size: 12px;
}

.question-vote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vote-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.comments-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #0366d6;
  font-size: 12px;
}

.comments-button i {
  margin-right: 4px;
}

/* #444C56;  column background
 border-style: solid;
  border-width: 0.8px;
  border-color:#444C56;
 363E47border for inside the column

  border-radius: 0 0 5px 5px;
    padding: 10px 0;
   border-color: #2D333B;

   ACBAC7 text
  
  
  */